/* *{
    margin:0px;
    padding:0px;
} */

body{
    background-color:black;
}

#hexColor{
    color:white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
}

button{
    background-color:grey;
    background-color:azure;
    padding:30px;
    border:2px solid green;
    border-radius:5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    box-shadow: 2px 2px lightblue;
}
button:hover{
    color:blueviolet;
    box-shadow: 2px 2px green;
}

#imagechange, #animalchange,#objectchange{
    margin:10px;
    width:400px;
    height:400px;
}
